name: plan
on:
  pull_request:
  push:
  schedule:
    - cron: '11 21 * * *'
jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id:     ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:            ${{ secrets.AWS_DEFAULT_REGION }}
          role-to-assume:        ${{ secrets.AWS_ROLE_ARN }}
          role-duration-seconds: 900
      - run: gem install bundler -v 2.1.4
      - run: bundle install --jobs 4 --retry 3
      - run: bundle exec rum plan
